﻿// Window
.mce-fullscreen {
	border: 0; padding: 0; margin: 0;
	overflow: hidden;
	background: @window-fullscreen-bg;
	height: 100%;
}

div.mce-fullscreen {
	position: fixed;
	top: 0; left: 0;
}

#mce-modal-block {
	.opacity(0);
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: @window-modalblock-bg;
}

#mce-modal-block.mce-in {
	.opacity(@window-modalblock-opacity);
}

.mce-window-move {
	cursor: move;
}
.mce-window {
	.border-radius(6px);
	.box-shadow(@window-box-shadow);
	.reset-gradient();
	background: @window-bg;
	//position: fixed;
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
	.transition(opacity 150ms ease-in);
}
.mce-window.mce-in {
	opacity: 1;
}

.mce-window-head {
	padding: 9px 15px;
	border-bottom: 1px solid @window-head-border;
	position: relative;
}

.mce-window-head .mce-close {
	position: absolute;
	right: 15px;
	top: 9px;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: @window-head-close;
	cursor: pointer;

	// IE7
	height: 20px;
	overflow: hidden;
}

.mce-close:hover {
	color: @window-head-close-hover;
}

.mce-window-head .mce-title {
	line-height: 20px;
	font-size: @window-title-font-size;
	font-weight: bold;
	text-rendering: optimizelegibility;
	padding-right: 10px;
}

.mce-window .mce-container-body {
	display: block;
}

.mce-foot {
	display: block;
	background-color: @window-foot-bg;
	border-top: 1px solid @window-foot-border;
	.border-radius(0 0 6px 6px);
}

.mce-window-head .mce-dragh {
	position: absolute;
	top: 0; left: 0;
	cursor: move;
	width: 90%;
	height: 100%;
}

.mce-window iframe {
	width: 100%;
	height: 100%;
}

.mce-window.mce-fullscreen, .mce-window.mce-fullscreen .mce-foot {
	.border-radius(0);
}

// RTL

.mce-rtl .mce-window-head .mce-close {
	position: absolute;
	right: auto;
	left: 15px;
}

.mce-rtl .mce-window-head .mce-dragh {
	left: auto;
	right: 0;
}

.mce-rtl .mce-window-head .mce-title {
	direction: rtl;
	text-align: right;
}
