.app-widgets-menu-logo {
	position: relative;
	height: 45px;

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
	}
	ul {
		float: left;
		li {
			float: left;

			&.active-menu-item {
				a, span.ajax-get-modal {
					color: @red-font;
				}
			}

			&.m-prime-logo {
				a {
					img {
						position: relative;
						top: -3px;
					}
				}
			}

			a, span.ajax-get-modal {
				position: relative;
				.cnt-primary {
					color: @red-font;
					font-size: 17px;
					vertical-align: bottom;
					position: relative;
					left: 1px;
					top: -1px;
				}
				&.logo {
					.cnt-primary {
						font-size: 11px;
						font-style: italic;
						background: #fff;
						padding: 2px 6px 3px 5px;
						border-radius: 15px;
					}
				}

				margin: 0;
				list-style: none;
				display: block;
				line-height: 45px;
				height: 45px;
				color: #636363;
				font-weight: bold;
				font-size: 11px;
				padding: 0 10px;
				text-transform: uppercase;
				text-decoration: none;
				span.badge {
					display: inline;
					margin-left: 4px;
					font-size: 11px;
					padding: 1.5px 5px;
					background-color: #235a81;
					color: #8bb0ca;
					text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.66);
					box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.47),
					0px 0.5px 0px 0px rgba(255, 255, 255, 0.5)
				}
			}
			&.active, &:hover {
				a,span.ajax-get-modal {
					background: #f9f9f9;
					text-decoration: none;
				}
			}
			&:hover {
				ul {
					display: block;
				}
			}
		}
	}
}