.jquery-switcher-container .ud-thumbs-up,
.jquery-switcher-container .ud-thumbs-down-flipped {
  position: relative;
  cursor: pointer;
  opacity: 0.2;
}
.jquery-switcher-container .ud-thumbs-up.checked,
.jquery-switcher-container .ud-thumbs-down-flipped.checked,
.jquery-switcher-container .ud-thumbs-up:hover,
.jquery-switcher-container .ud-thumbs-down-flipped:hover {
  opacity: 1;
}
.jquery-switcher-container .ud-thumbs-up .sub-label,
.jquery-switcher-container .ud-thumbs-down-flipped .sub-label {
  position: absolute;
  left: 0;
  bottom: -20px;
}
.jquery-switcher-container input {
  display: none;
}
